.view-subjects-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5%;
  gap: 3.5rem;
  .table-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--primary);
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      th,
      td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      th {
        background-color: var(--primary);
        color: white;
        font-weight: bold;
      }
      tr:nth-child(even) {
        background-color: #f2f2f2;
      }
      tr:hover {
        background-color: #f0f0f0;
      }
      tbody a {
        text-decoration: none;
        color: var(--primary);
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
